<%- include('partials/header.ejs') %>


<title>Signup_Section</title>
<link rel="stylesheet" href="/styles/main_edit.css"/>


<%- include('partials/header.ejs') %>


<title>Signup_Section</title>
<link rel="stylesheet" href="/styles/main_edit.css"/>

<div class="Main">

<div class="IMAGE">
    <img src="/images/main_content_2.png" alt="">
    <img src="/images/Drawing/Dash-removebg-preview.png" alt="">
    
    <img src="/images/Drawing/Dash-removebg-preview.png" alt="">

</div>



    <div class="image-1">
        <img src="/images/main_content_1.png" alt="">
    </div>
    <div class="Content">
      <form action="/edit" method="post">
        <!-- <input type="text" name="Input" class="in"> -->
        <!-- <textarea class="in" name="contentname" id=""></textarea> -->
         <input type="text" name="contentname" id="">
        <div class="edit-btn" id="io">
            <button id="button" type="submit">ADD SECRET</button>
        </div>
        <div class="btns" id="jk">
            <a href="/logout" role="button">Log Out</a>

            <!-- <a href="">Add Secret</a> -->
        </div>
      </form>
      



</div>

</div>



<%- include('partials/footer.ejs') %>

