
<title>Incorrect_Password</title>
<link rel="stylesheet" href="/styles/Incorrect_Pass.css"/>


<%- include('partials/header.ejs') %>



<div class="Main">
<div class="Errormsg">
    <h1>"Oops! That's <span>not the right password.</span> Did your cat walk across the keyboard again?"</h1>
</div>
<div class="Errorimg">
    <img src="/images/Incorrect_Pass.png" alt="">
</div>
<div class="SErrormsg">
    <h3>Don't worry, it happens to the best of us. Maybe try again, or check if your Caps Lock is on. If you still can't remember, consider the possibility that your cat might be secretly plotting against you.</h3>
</div>
<div class="btn">
    <a href="/signin">Try Again</a>
</div>
</div>











<%- include('partials/footer.ejs') %>

